// * VARIABLES PARA BOOTSTRAP

$danger: #c15050;
$dark: #282846;
$primary: #645ad6;
$light: lighten($primary, 33%);
$secondary: #413c69;
$success: #325288;
$white: #fafafa;

$theme-colors: (
  'danger': $danger,
  'dark': $dark,
  'light': $light,
  'primary': $primary,
  'secondary': $secondary,
  'success': $success,
  'white': $white,
);

$gradient: radial-gradient(
  circle at 0% 0%,
  #e176ff 0,
  #995eff 25%,
  #4d42d4 50%,
  #00279c 75%,
  #00116a 100%
);

$border-radius: 20px;

// * VARIABLES PARA BIGCALENDAR

$out-of-range-color: darken($light, 20%);
$out-of-range-bg-color: transparentize($light, 0.75);

$calendar-border: rgba(0, 0, 0, 0);
$cell-border: transparentize($secondary, 0.8);

$border-color: rgba(0, 0, 0, 0);

$segment-width: percentage(1 / 7);

$time-selection-color: white;
$time-selection-bg-color: rgba(0, 0, 0, 0.5);
$date-selection-bg-color: rgba(0, 0, 0, 0.1);

$event-bg: #0075fa;
$event-border: darken(#0075fa, 10%);
$event-outline: lighten(#0075fa, 15%);
$event-color: #fff;
$event-border-radius: 0;
$event-padding: 2px 5px;
$event-zindex: 4;

$btn-color: $light;
$btn-bg: lighten(#0075fa, 10%);
$btn-border: rgba(0, 0, 0, 0);

$current-time-color: #82e90c;

$rbc-css-prefix: rbc-i;

$today-highlight-bg: transparentize($dark, 0.55);
